.post {

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    height: 48rem;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
  }

  &__content {
    font-size: 1.4rem;
  }
}