.post {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &-profile {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.4rem;

    &__img {
      border-radius: 50%;
    }

    &__name {
      font-weight: 600;
      color: #fff;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    height: 48rem;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
  }

  &__description {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.4rem;
    font-size: 2rem;

    & *:hover {
      color: #555;
      cursor: pointer;
    }
  }

  .like {
    width: 2rem;
    transform-origin: center;
  }

  .heart,
  .heart-left,
  .heart-right {
    transform-origin: center;
  }

  &__content {
    font-size: 1.4rem;
  }
}
