.posts {
  grid-column: 3 / span 5;
  overflow-y: scroll;
  height: 95vh;
}

// hide scrollbar
.posts::-webkit-scrollbar {
  display: none;
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
