.post {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &:hover {
  }

  &-profile {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.4rem;

    &__img {
      border-radius: 50%;
      height: 2.4rem;
      width: 2.4rem;
      object-fit: cover;
    }

    &__name {
      font-weight: 600;
      color: #fff;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__img-container {
    position: relative;
    height: 48rem;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
  }

  &__img-container::before {
    content: '';
    background-color: rgb(0, 0, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    transition: background-color 0.1s;
  }

  &__img-container:hover::before {
    background-color: rgb(0, 0, 0, 0.1);
  }

  &__description {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.4rem;
    font-size: 2rem;

    & *:hover {
      color: #555;
      cursor: pointer;
    }
  }

  .heart {
    color: #ef4444;
  }

  &__content {
    font-size: 1.4rem;
  }
}
