.backdrop,
.post-overlay {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.backdrop {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

.post-overlay {
  background-color: #121212;
  border-radius: 1.2rem;
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.25);
  height: 50rem;
  width: 80rem;
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  overflow: hidden;

  &__close-btn {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    font-size: 2.8rem;
    cursor: pointer;
    padding: 0.4rem;

    &:hover {
      background-color: #121212;
      border-radius: 50%;
    }
  }
}

.overlay-image {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.overlay-right {
  position: relative;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.overlay-header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem 0;
  border-bottom: 1px solid #7d7d7d80;

  &__img {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
  }
  &__username {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
  }
}

.overlay-content {
  font-size: 1.4rem;
}

// comment
.overlay-comments {
  padding-top: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.comment {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.8rem;

  &__img img {
    height: 2.4rem;
    border-radius: 50%;
  }

  &__username {
    font-size: 1.4rem;
    color: #fff;
  }

  &__content {
    padding-top: 0.4rem;
    font-size: 1.2rem;
  }
}

// input
.overlay-input {
  display: inline-grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  bottom: 1.6rem;
  width: 100%;
  padding-right: 3.2rem;

  &__icon {
    font-size: 1.6rem;
    color: #fff;
  }

  input,
  input:focus,
  input:active {
    color: #7e7e7e;
    background-color: #212121;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 0.4rem;
    display: flex;
    gap: 0.8rem;
  }
}
