.backdrop,
.options-overlay {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.backdrop {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

.options-overlay {
  background-color: #121212;
  border-radius: 1.2rem;
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.25);
  height: fit-content;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  list-style: none;

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-bottom: #3a3a439f 1px solid;
    cursor: pointer;

    &--link {
      text-decoration: none;
      color: #fff;
      width: 100%;
      height: 100%;
      padding: 2rem;
      // text-align: center;
    }

    &:hover {
      background-color: #1e1e1e;
    }
  }
}

.overlay-content {
  font-size: 1.4rem;
}
