.create-post {
  position: sticky;
  bottom: 10rem;
  left: 20rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  background-color: #0094f64d;
  border-radius: 1.2rem;
  border: 1px solid #0094f6;
  color: #0094f6;
}
