.backdrop,
.options-overlay {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.backdrop {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

.options-overlay {
  background-color: #121212;
  border-radius: 1.2rem;
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.25);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  list-style: none;

  .result__item {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 3px;
    background-color: #212121;
    color: #fff;
    transition: background-color 0.2s ease-in-out;

    &--link {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 1.6rem;
      padding-right: 1.6rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      border-bottom: #3a3a439f 1px solid;

      gap: 1.6rem;
      color: #fff;
      width: 100%;

      &:hover {
        background-color: #2f2f2f;
      }
    }

    &--img {
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
      background: linear-gradient(90deg, #a5025c 0%, #a68614 100%);
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 95%;
        height: 95%;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #000;
      }
    }

    &--info {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      align-items: flex-start;
    }

    &--name {
      font-size: 1.4rem;
      font-weight: 500;
    }

    &--username {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}

.overlay-content {
  font-size: 1.4rem;
}
