.user-nav {
  border-bottom: 2px inset #7d7d7d80;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.6rem;
    margin-left: 11rem;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding-bottom: 0.8rem;

    &--active {
      border-bottom: 2px solid #fff;
      color: #fff;
      padding-bottom: 1rem;
      margin-bottom: -0.2rem;
    }
  }
}
