.user-status {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 3.2rem;

  &__number {
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    letter-spacing: 1.2;
    margin-bottom: 0.4rem;
  }

  &__text {
    font-size: 1.2rem;
  }
}
