/*

-- Grid system
   10 columns
   column width = 9rem
   gutter = 3.2rem
   margin = 2.6rem
   full width = 1240px

-- Typography
  small: 12px
  regular: 14px
  large: 16px

  heading 1: 2
 
*/

.app {
  max-width: 1240px;
  margin: 0 auto;
  padding: 3.2rem 2.6rem;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 3.2rem;
  align-items: start;
}
