// font
@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-SemiBold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Medium.woff2');
  font-weight: 500;
}

// styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  line-height: 1;
  color: #7e7e7e;
  background-color: #121212;
}

a:link,
a:visited {
  text-decoration: none;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/*

-- Typography
    Normal: 1.4rem 600
    Small: 1.2rem 400

-- Colors
    Ligh text: #7e7e7e
    White text: #fff

    Background: #121212


*/