.nav-links__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.nav-links__link:link,
.nav-links__link:visited {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.nav-links__link-text {
  font-size: 1.4rem;
  font-weight: 500;
}

.nav-links__icon {
  font-size: 2rem;
  color: #7e7e7e;
}

.nav-links__link--active .nav-links__icon {
  color: #fff;
}

.nav-links__line {
  height: 2px;
  width: 100%;
  background-color: #7e7e7e;
}
