.login {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-form {
  padding: 4.8rem 3.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.8rem;
  max-width: 30rem;
  border: 2px solid #7e7e7e80;
  border-radius: 12px;
  box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.4);

  input,
  input:focus,
  input:active {
    width: 100%;
    font-family: inherit;
    color: #7e7e7e;
    background-color: #000;
    border: none;
    outline: none;
    padding: 0.4rem 0.8rem;
    border-radius: 3px;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: #7e7e7e;
    box-shadow: 0 0 0px 1000px rgb(0, 0, 0, 0.9) inset;
    -webkit-box-shadow: 0 0 0px 1000px rgb(0, 0, 0, 0.9) inset;
  }

  button {
    font-size: 1.6rem;
    margin-top: 0.8rem;
  }
}

.login-img {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1.6rem;
}

.login-link:link,
.login-link:visited {
  text-align: center;
  color: #7d7d7d;
  text-decoration: none;
  margin-top: 0.4rem;
}
