.search {
  background-color: #212121;
  border-radius: 3px;
  padding: 0.8rem;
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1.6rem;

  &__icon {
    font-size: 1.6rem;
  }

  input {
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
    color: #fff;
    flex: 1;
  }

  input:focus {
    outline: none;
  }
}
